PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://tourchain_user:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/tourchain?retryWrites=true&w=majority

JWT_SECRET=a_very_strong_random_secret_for_the_tourist_app_1535
ID_PEPPER=optional-static-pepper

BLOCKCHAIN_RPC=http://127.0.0.1:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CONTRACT_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

AI_SERVICE_URL=http://127.0.0.1:5001

ETHERSCAN_API_KEY=
MAX_FILE_SIZE=5242880
UPLOAD_DIR=./uploads